<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Annopy</title>
    {% include "partials/css.html" %}
    {% include "partials/js.html" %}
    {% include "partials/metadata.html" %}
    <style type="text/css">
        .hero {
            background-position: center center;
            padding: 10vh;
            background-image: url({{url_for("static", filename= "images/les_roses.jpeg")}});
        }
        .container .hero {
            background-image: none;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="{{url_for('homepage')}}" style="padding-left: 5px">Annopy</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('community')}}">Communauté</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('browse_collections')}}">Projets en cours</a>
        </li>
        {% if not current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('sign_up')}}">Inscription</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('sign_in')}}">Connexion</a>
        </li>
        {% else %}
        <li>
            <a class="nav-link" href="{{url_for('create_collection')}}">Créer un projet</a>
        </li>
        <li>
            <a class="nav-link" href="{{url_for('profile')}}">Profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('sign_out')}}">Déconnexion - {{current_user.user_login}}</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">À propos</a>
        </li>
    </ul>
    <form class="form-inline" action="{{url_for('search')}}" method="GET">
        <input class="form-control" name="keyword" type="search" placeholder="Rechercher un projet"
               aria-label="Recherche">
        <button class="btn btn-info" type="submit">Rechercher</button>
    </form>
</nav>
{% block afternav %}{%endblock%}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row">
        <div class="col">
            {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
