{% extends "container.html" %}
{% block afternav %}
{% include "partials/recherche.html" %}
{% endblock %}
{% block body %}

{% if collection %}
    <h1>{{collection.collection_name}}</h1>

    <dl>
    <dt>Catégorie</dt>
    {% for category in categories %}
    <dd>{{category.category.name}}</dd>
    {% endfor %}
    <dt>Description</dt>
    <dd>{{collection.collection_description}}</dd>
    <dt>Auteur</dt>
    {% for authorship in authorships %}
    <dd>{{authorship.user.user_login}}</dd>
    {% endfor %}
    <dt>Date de création</dt>
    {% for authorship in authorships %}
    <dd>{{authorship.authorship_collection_date}}</dd>
    {% endfor %}
    {% if current_user.is_authenticated %}
    <dt>Images</dt>

    <!-- Pour chaque image de la collection, on affichera un lien si elle n'a pas été annotée par l'utilisateur-ice
    Le cas contraire, un message indiquera que cela a déjà été fait.
    Pour cela, on itère sur les annotations liées à l'image, grâce à l'association définie en base.
    S'il n'y a pas d'annotation sur ladite image, on affiche un lien pour annoter -->
    {% for img in imgs %}
    {% set check = [] %}
    <dd>
        <ol>
            <li>Image {{loop.index}} :</li>
                <ul>

        {% set annotations = img.image.annotation %}
        {% if annotations %}
            <!-- On itère sur les annotations -->
            {% for annotation in annotations %}
                {% set authorship = AuthorshipAnnotation.query.filter(db.and_(
                AuthorshipAnnotation.authorship_annotation_annotation_id == annotation.annotation_id,
                AuthorshipAnnotation.authorship_annotation_user_id == current_user.user_id)
                ).first() %}
                {% if authorship %}
                    <!-- Jinja semble ne pas garder la valeur d'une variable définie au sein d'une loop for
                    (problème de scope).
                    Pour vérifier si l'utilisateur-ice a annoté l'image en question, on contourne le problème
                    avec la variable check.
                    On ajoute 1 à la variable check si la requete à la table AuthorshipAnnotation a renvoyé un objet -->
                    {% set check = check.append(1) %}
                {% endif %}
            {% endfor %}

            <!-- Si check est True (contenant 1), alors l'utilisateur-ice a déjà annoté l'image. -->
            {% if check %}
                        <li>Vous avez déjà annotée cette image. Nous vous remercions pour votre collaboration.</li>
            {% else %}
                        <li><a href="{{url_for('viewer',collection_id=collection.collection_id, image_id=img.image.image_id)}}">Pour annoter cette image, cliquez-ici.</a></li>
            {% endif %}

            <li>Pour accéder aux données de cette image : <a href="{{url_for('api_image_data', image_id=img.image.image_id)}}">API</a></li>
        </ul>
        {% else %}
            <ul>
            <li><a href="{{url_for('viewer',collection_id=collection.collection_id, image_id=img.image.image_id)}}">Pour annoter cette image, cliquez-ici.</a></li>
            </ul>
        {% endif %}
    </ol>

    </dd>
    {% endfor %}

    {% else %}
    <dt>Images</dt>
    <dd>Il y a {{imgs|length}} image(s) prêtes à être annotée(s) une fois que vous serez connecté-e !</dd>
    </dl>
    {% endif %}

{% if current_user.is_authenticated %}
    <h2>Outils</h2>
    <ul>
        <li><a href="{{url_for('api_collection_data', collection_id=collection.collection_id)}}">Pour récupérer la collection au format JSON via l'API, cliquez-ici (données de la collection, données des images, données des annotations).</a></li>
        <li><a href="{{url_for('collection_update', collection_id=collection.collection_id)}}">Pour modifier la collection, cliquez-ici.</a></li>
        <li><a href="{{url_for('delete_collection', collection_id=collection.collection_id)}}">Pour supprimer la collection, cliquez-ici.</a></li>
    </ul>
{% endif %}

{% else %}
    <p>Il n'y a pas encore de collection.</p>
{% endif %}

<p><a href="{{url_for('homepage')}}">Retour à la page d'accueil</a></p>

{% endblock %}
