{% extends "container.html" %}
{% block afternav %}
{% include "partials/recherche.html" %}
{% endblock %}
{% block body %}

<h1>Création d'une nouvelle collection avec Flickr</h1>
<p>Pour créer une nouvelle collection, remplissez le formulaire et cliquer sur "créer".</p>
<p>L'ajout d'images à une collection se fait à partir de Flickr. Vous devez premièrement créer un album sur Flickr ;
    Deuxièmement, vous devez renseigner dans le formulaire ci-dessous une clé d'utilisation d'API, l'id de l'album et
    l'id de
    l'user ayant créé l'album. Nous nous chargerons ensuite de récupérer les URL de chaque image et de les associer à la
    collection
    que vous avez créé.</p>
<p>Par exemple : </p>
<ul>
    <li>https://www.flickr.com/photos/192476676@N05/albums/72157718781176996</li>
    <li>https://www.flickr.com/photos/{USER_ID}/albums/{ALBUM_ID}</li>
</ul>

<form class="form" method="POST" action="{{url_for('create_collection_with_flickr')}}">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="collection-name">Nom de la collection : </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="collection-name" name="collection_name"
                   placeholder="Nom de la nouvelle collection">
        </div>
    </div>
    <div class="form-group row" for="collection-description">
        <label class="col-sm-2 col-form-label">Description : </label>
        <div class="col-sm-10">
            <textarea type="text" class="form-control" id="collection-description" name="collection_description"
                      placeholder="Description rapide de la collection" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group row" for="api-key">
        <label class="col-sm-2 col-form-label">Clé API : </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="api-key" name="api_key"
                   placeholder="Clé API Flickr">
        </div>
    </div>
    </div>
    <div class="form-group row" for="album-id">
        <label class="col-sm-2 col-form-label">Album Flickr ID : </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="album-id" name="album_id"
                   placeholder="Album ID">
        </div>
    </div>
    </div>
    <div class="form-group row" for="user-id">
        <label class="col-sm-2 col-form-label">User Flickr ID</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="user-id" name="user_id"
                   placeholder="User ID">
        </div>
    </div>
    <div>
        <p style="padding-top: 10px;">Afin de choisir une catégorie, voici celles déjà créées : </p>
        <ul>
            {% for category in categories %}
            <li>{{category.name}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="form-group row" for="collection-category">
        <label class="col-sm-2 col-form-label">Catégorie : </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="collection-category" name="collection_category"
                   placeholder="Choisissez une des catégories ci-dessus.">
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Créer</button>
    </div>
</form>

<div>
    <a href="{{url_for('create_category')}}" class="btn btn-primary" style="margin-top: 10px;">Pour créer une nouvelle
        catégorie, cliquez-ici</a>
</div>


{% endblock %}
