{% extends "container.html" %}
{% block afternav %}
{% include "partials/recherche.html" %}
{%endblock%}
{% block body %}

<h1>Pour mettre à jour votre mot de passe, remplissez le formulaire ci-dessous.</h1>

<form class="form" method="POST" action="{{url_for('password_update')}}">
    <div class="form-group row">
        <label for="old-password" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="old-password" name="password"
                   placeholder="Votre mot de passe actuel">
        </div>
    </div>
    <div class="form-group row">
        <label for="new-password-1" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="new-password-1" name="new_password_1"
                   placeholder="Votre nouveau mot de passe">
        </div>
    </div>
    <div class="form-group row">
        <label for="new-password-2" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="new-password-2" name="new_password_2"
                   placeholder="Veuillez confirmer votre nouveau mot de passe">
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Mettre à jour votre mot de passe
        </button>
    </div>
</form>

<div>
    <br>
    <a href="{{url_for('profile')}}">Pour retourner sur votre profil, cliquez-ici.</a>
</div>

{% endblock %}
